@media only screen and (max-width:480px) {
    body{
        margin: 0%;
       overflow-x: hidden;
       overflow-y: scroll;
    }
    
    
    nav{
        position: fixed;
        background-color:white;
        width: 100%;
        margin-top: -0.1rem;
        
   }
   nav .top img{
       width: 30px;
       margin-left: -5rem;
   }
    nav .top{
       display: flex;
       flex-direction: row;
       /* justify-content: space-betwee; */
       padding-left: rem;
       padding-right: rem;
       padding-top: rem;
       padding-bottom: 2rem;
       
      
    }
   
    nav .top .savio{
       padding-left: 9rem;
    }
   nav .top .savio img{
       width: 100px;
       margin-top: -0.5rem;
   }
   
   nav .top .dropdown img{
    width: 20px;
    margin-left: -30rem;
    margin-top: 0.7rem;
   }
   
   
   
   
   
   nav .top .dropdown button{
       border: none;
       cursor: pointer;
       background-color: white;
   }
   nav .top .dropdown{
       display: inline-block;
       margin-left: -10rem;
   }
   nav .top .dropdown a{
       display: block;
       color: black;
       height: 2px;
       text-decoration: none;
       padding: 10px 15px;
   }
   
   nav .top .dropdown .content{
       display: none;
       position: absolute;
   }
   
   nav .top .dropdown:hover .content{
       display: block;
   }
   
   nav .container img{
       width: 30px;
   }
   
   nav .container{
       position: relative;
       
       
       
   }
    nav .container .box{
       position: absolute;
       top: 0%;
       left:40%;
       transform: translate(-50%, -50%);
       padding-left: 33rem;
      
       
   } 
   
   
    nav .container .box .input_box input{
      
       width: 1000px;
       font-size: 15px;
       background-color: rgb(225, 225, 241);
       height: 2.5rem;
       border-top: 1px solid black;
       border-bottom: 1px solid black; 
       outline: none;
       padding-left: 6.7rem;
   }
   

    .red{
        padding-top: 7rem;
        justify-content: center;
        
    
       
    }
    
    .red .blue span{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        color: #000;
        padding-bottom: rem;
       
    }

    .school{
        padding-right: rem;
    }

    .school .image img{
        width: 85%;
        margin-left: -7rem;
       
    }

    .school .text{
        text-align: center;
        margin-top: -3rem;
    }
    
    .school .text h5{
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 15px;
       
    }
    
    .school .text h1{
        font-family: "Wendy One", sans-serif;
        font-size: 20px;
        margin-top: -1rem;
    }
    
    .school .text span{
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: #000;
        
    }
    
    .school .button{
        padding-top: 1rem;
        margin-left: 8.5rem;
        
    }
    
    .school #btn{
     padding-top: 0.4rem;
     padding-bottom: rem;
     font-family: "Wendy One", sans-serif;
     font-size: 8px;
     background-color: white;
     width: 110px;
     height: 0rem;
     cursor: pointer;
    }

    .travel .image img{
        width: 85%;
        margin-left: -7rem;
        padding-top: 3rem;
       
    }

    .travel .text{
        text-align: center;
        margin-top: -3rem;
    }
    
    .travel .text h5{
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 15px;
    }
    
    .travel .text h1{
            font-family: "Wendy One", sans-serif;
            font-size: 20px;
            margin-top: -1rem;
    }
    
    .travel .text span{
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: #000;
        
    }
    
    .travel .button{
        padding-top: 1rem;
        margin-left: 8.5rem;
        
    }
    
    .travel #btn{
        padding-top: 0.4rem;
        padding-bottom: rem;
        font-family: "Wendy One", sans-serif;
        font-size: 8px;
        background-color: white;
        width: 110px;
        height: 0rem;
        cursor: pointer;
    }

    .ice .image img{
        width: 85%;
        margin-left: -7rem;
        padding-top: 3rem;
       
    }

    .ice .text{
        text-align: center;
        margin-top: -3rem;
    }
    
    .ice .text h5{
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 15px;
    }
    
    .ice .text h1{
            font-family: "Wendy One", sans-serif;
            font-size: 20px;
            margin-top: -1rem;
    }
    
    .ice .text span{
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: #000;
        
    }
    
    .ice .button{
        padding-top: 1rem;
        margin-left: 8.5rem;
        
    }
    
    .ice #btn{
        padding-top: 0.4rem;
        padding-bottom: rem;
        font-family: "Wendy One", sans-serif;
        font-size: 8px;
        background-color: white;
        width: 110px;
        height: 0rem;
        cursor: pointer;
    }
    
    .perfect .image img{
        width: 85%;
        margin-left: -7rem;
        padding-top: 3rem;
       
    }

    .perfect .text{
        text-align: center;
        margin-top: -3rem;
    }
    
    .perfect .text h5{
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 15px;
    }
    
    .perfect .text h1{
            font-family: "Wendy One", sans-serif;
            font-size: 20px;
            margin-top: -1rem;
    }
    
    .perfect .text span{
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: #000;
        
    }
    
    .perfect .button{
        padding-top: 1rem;
        margin-left: 7.5rem;
        
    }
    
    .perfect #btn{
        padding-top: 0.4rem;
        padding-bottom: rem;
        font-family: "Wendy One", sans-serif;
        font-size: 8px;
        background-color: white;
        width: 150px;
        height: 0rem;
        cursor: pointer;
    }

    .kitty #btn{
    width: 9rem;
    height: 2rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 9px;
    cursor: pointer;
    background-color: rgb(13, 13, 54);
    color: white;
    padding: rem;
    border-radius: 30px;
}

.kitty{
    margin-top: -4rem;
    margin-left: 1.3rem;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    text-align: center;
    justify-content: space-around;
    width: 0.rem;
    overflow: hidden;
   
}

.who{
    margin-top: -9rem;
    margin-left: -1rem;
}
.who .text{
    text-align: center;
}
.who .text span{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
}

.who img{
    width: 150px;
}

.who .image{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 0.5rem;
    padding-top: 4rem;
    text-align: center;
    margin-left: -24rem;
    margin-top: -6rem;
}

.who .image .fav1{
    padding-left: 28rem;
    padding-top: 3rem;
}
.who .image .fav2{
    padding-right: 28rem;
    padding-top: 3rem;
}

.japan .image img{
    width: 85%;
    margin-left: -7rem;
    padding-top: 3rem;
   
}

.japan .text{
    text-align: center;
    margin-top: -3rem;
}

.japan .text h5{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.japan .text h1{
        font-family: "Wendy One", sans-serif;
        font-size: 20px;
        margin-top: -1rem;
}

.japan .text span{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    
}

.japan .button{
    padding-top: 1rem;
    margin-left: 7.5rem;
    
}

.japan #btn{
    padding-top: 0.4rem;
    padding-bottom: rem;
    font-family: "Wendy One", sans-serif;
    font-size: 8px;
    background-color: white;
    width: 150px;
    height: 0rem;
    cursor: pointer;
}

.text{
    padding-top:5rem;
    text-align: center;
   font-family:  "Wendy One", sans-serif;
    font-size: 12px;
}

.hello{
    padding-top:rem ;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-gap: 0rem;
    margin-left: -4rem;
    margin-right: 8rem;
    background-color: white;
    gap: rem;
    margin-left:rem ;
}

.hello img{
    width: 150px;
    background-color: white;
   
}

.hello .kitty1 .text span{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    margin-top: -4rem;
    
}
.hello .kitty1 .text small{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
}
.hello .kitty1{
    display: flex;
    flex-direction: column;
    border: 13px solid rgb(238, 232, 232);;
    background-color: rgb(238, 232, 232);
   cursor: pointer;
   margin-bottom: rem;
   
}


.hello .kitty2 .text span{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    margin-top: -4rem;
    
}

.hello .kitty2 .text small{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
}
.hello .kitty2{
    display: ;
    flex-direction: ;
    border: 13px solid rgb(238, 232, 232);;
    background-color: rgb(238, 232, 232);
   cursor: pointer;
   margin-bottom: rem;
   
}


.hello .kitty3 .text span{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    margin-top: -4rem;
}
.hello .kitty3 .text small{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
}
.hello .kitty3{
    display: flex;
    flex-direction: ;
    border: 13px solid rgb(238, 232, 232);;
    background-color: rgb(238, 232, 232);
   cursor: pointer;
   margin-bottom: rem;
   
}

.hello .kitty4 .text span{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    margin-top: -4rem;
    
}
.hello .kitty4 .text small{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
}
.hello .kitty4{
    display: flex;
    flex-direction: column;
    border: 13px solid rgb(238, 232, 232);;
    background-color: rgb(238, 232, 232);
   cursor: pointer;
   margin-bottom: rem;
   
}

.hello .kitty5 .text span{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    margin-top: -4rem;
    
}
.hello .kitty5 .text small{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
}
.hello .kitty5{
    display: ;
    flex-direction: ;
    border: 13px solid rgb(238, 232, 232);;
    background-color: rgb(238, 232, 232);
   cursor: pointer;
   margin-bottom: rem;
   
}

.hello .kitty6 .text span{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    margin-top: -4rem;
    
}
.hello .kitty6 .text small{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
}
.hello .kitty6{
    display: ;
    flex-direction:;
    border: 13px solid rgb(238, 232, 232);;
    background-color: rgb(238, 232, 232);
   cursor: pointer;
   margin-bottom: rem;
   
}

.love1 .image img{
    width: 85%;
    margin-left: -7rem;
    margin-top: -4rem; 
  
}

.love1 .text{
    text-align: center;
    margin-top: -3rem;
}

.love1 .text h5{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.love1 .text h1{
        font-family: "Wendy One", sans-serif;
        font-size: 20px;
        margin-top: -1rem;
}

.love1 .text span{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    
}

.love1 .button{
    padding-top: 1rem;
    margin-left: 7.5rem;
    
}

.love1 #btn{
    padding-top: 0.4rem;
    padding-bottom: rem;
    font-family: "Wendy One", sans-serif;
    font-size: 8px;
    background-color: white;
    width: 150px;
    height: 0rem;
    cursor: pointer;
}

.love2 .image img{
    width: 85%;
    margin-left: -7rem;
    margin-top: -4rem;
   
}

.love2 .text{
    text-align: center;
    margin-top: -3rem;
}

.love2 .text h5{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.love2 .text h1{
        font-family: "Wendy One", sans-serif;
        font-size: 20px;
        margin-top: -1rem;
}

.love2 .text span{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    
}

.love2 .button{
    padding-top: 1rem;
    margin-left: 7.5rem;
    
}

.love2 #btn{
    padding-top: 0.4rem;
    padding-bottom: rem;
    font-family: "Wendy One", sans-serif;
    font-size: 8px;
    background-color: white;
    width: 150px;
    height: 0rem;
    cursor: pointer;
}

.love3 .image img{
    width: 85%;
    margin-left: -7rem;
    margin-top: -4rem;
   
}

.love3 .text{
    text-align: center;
    margin-top: -3rem;
}

.love3 .text h5{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.love3 .text h1{
        font-family: "Wendy One", sans-serif;
        font-size: 20px;
        margin-top: -1rem;
}

.love3 .text span{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    
}

.love3 .button{
    padding-top: 1rem;
    margin-left: 7.5rem;
    
}

.love3 #btn{
    padding-top: 0.4rem;
    padding-bottom: rem;
    font-family: "Wendy One", sans-serif;
    font-size: 8px;
    background-color: white;
    width: 150px;
    height: 0rem;
    cursor: pointer;
}


.purple img{
    width: 100px;
    padding-left: 10rem;
    margin-bottom: -1rem;
    
   
}

.purple .text span{
    font-size: 15px;
  padding-bottom: 10rem;
    
}

.purple .email .e span{
    font-size: 14px;
    font-family: "Wendy One", sans-serif;
    padding-left: 12rem;
    margin-top: -20rem;
}

.purple .email .box input{
    width: 170px;
    font-size: 15px;
    height: 3rem;
    background-color: white;
    border: 1px solid;
   margin: left -3px;
    /* border: 1px solid rgb(70, 69, 69);
     */

}

.purple .email .button #btn{
    width: 100px;
    height: 3rem;
    font-family: "Wendy One", sans-serif;
    font-size: 12px;
    background-color: white;
    /* width: 450px; */
    cursor: pointer;
    /* margin-right: -6rem; */
    margin-left: -1rem;
}

.purple .email{
    padding-top: 4rem;
    margin-left: -13rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.purple{
    background-color: rgb(173, 152, 173);
    padding-bottom: 2rem ;
    margin-top: -9rem;
}


.world{
    padding-top: 3rem;
    padding-left: 1rem;
   background-color: bisque;
   
    
}

.world .store span{
    font-family: "Wendy One", sans-serif;
    font-size: 20px;
    margin-bottom: -2rem;
    
}

.world .store small{
  
    font-size: 18px;
   color: #000;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

.world a{
    text-decoration: none;
    
}

.world .more span{
    font-family: "Wendy One", sans-serif;
    font-size: 20px;
    margin-bottom: -2rem;
    margin-top: -2rem;
    
}

.world .more small{
    font-size: 18px;
   color: #000;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

.world .need span{
    font-family: "Wendy One", sans-serif;
    font-size: 20px;
    margin-bottom: -2rem;
    margin-top: -2rem;
    
    
}

.world .need small{
    font-size: 18px;
   color: #000;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   padding-bottom: 2rem;
}

.world .card{
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
}
.world .card span{
    font-family: "Wendy One", sans-serif;
    font-size: 20px;
    margin-bottom: -1rem;
    margin-top: -3rem;
    
    
}

.world .card small{
    font-size: 18px;
   color: #000;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

.world .image img{
    width: 20px;
}

.world .image{
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.world .images img{
    width: 20px;
}

.world .images{
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 2rem;
}

.world .copy span{
    
    font-size: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}








    





}